#button {
    cursor: pointer;
    background: #0FF none repeat scroll 0% 0%;
    color: #000;
    padding: 0.5em 0.6em 0.5em 0.5em;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    font-size: 0.75em;
    line-height: 1.7em;
    font-weight: bold;
    opacity: 0.4;
}
