#dbbtn {
    padding-right: 1em;
}
#dbmenu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.dbmsh { /* db menu settings head */
    margin: 0.25em 0px;
    padding: 0px 0px 0px 15px;
    font-size: 0.95em;
    font-weight: bold;
    overflow: hidden;
}
.dbfalse {
    color: #f0f;
}
.dbtrue {
    color: #0ff;
}
.dbms { /* db menu settings container */
    border-bottom: 1px solid #202020;
}
.dbmsb { /* db menu settings body */
    font-size: 0.85em;
    text-align: left !important;
    margin: 0px;
    padding: 0px 0px 0px 15px !important;
    color: #999 !important;
}
.dtblue {
    color: #0ff;
}
.dtpurple {
    color: #f0f;
}
#db-volumeViewer {
    position: absolute;
    bottom: 20px;
    left: 94px;
    font-size: 10px;
    z-index: -1;
}


/**
 * Experimental recoloring and restyling
 */

html {
    overflow-y: auto;
}

#chat .chat-container ul.chat-main li .activity-row .text p a.username,
#chat .chat-container ul.chat-main li .activity-row .text p a.username:hover,
#chat .chat-container ul.chat-main li .activity-row .text p a.username:visited,
#chat .chat-container ul.chat-main li .activity-row .text span.username-handle {
    color: #00bee8;
}

#chat .chat-container .pusher-chat-widget-input button,
#player-controller ul li.infoContainer .progressBg,
#main_player .player_container .videoquality-el,
#main_player .player_container .hideVideo-el,
#main_player .player_container .refresh-el,
#player-controller ul li a.dubup:hover,
#player-controller ul li a.dubup.voted,
#player-controller ul li a:hover,
#player-controller ul li a.voted,
ul.avatar-list li.currentDJ:after,
#volume-div .ui-slider-handle,
#user_popover .actions a,
.loading {
    background-color: #00bee8;
}

#chat .chat-container ul.chat-main li:hover>.stream-item-content .chatDelete,
#chat .chat-container ul.chat-main li .stream-item-content:focus>.chatDelete,
#chat .chat-container .pusher-chat-widget-input .icon-camera,
#chat .chat-container .pusher-chat-widget-input button,
#player-controller .right {
    color: #ccc;
}

ul.avatar-list li.updub,
#user_popover .actions,
#user_popover {
    border: 1px solid #00bee8;
}

#player-controller ul li.infoContainer .progressBg {
    transition: all 1s ease;
    height: 3px;
}

#chat .chat-container .pusher-chat-widget-input button {
    background-color: #111;
    transition: all .2s ease;
}

#chat .chat-container .pusher-chat-widget-input button:hover {
    background-color: #00bee8;
    color: #000;
}

#chat .chat-container ul.chat-main li:nth-child(odd) {
    background: #0a0a0a;
}


/**
 * Plug.dj stylized delete button
 */

/*
#chat .chat-container ul.chat-main li:hover>.stream-item-content .chatDelete,
#chat .chat-container ul.chat-main li .stream-item-content:focus>.chatDelete {
    opacity: 1;
}

.icon-close:before {
    content: "DELETE";
    font-family: "Open Sans", sans-serif;
    padding: 3px 4px 3px 4px;
    background: #f46b40;
    font-size: 9px;
    color: #ccc;
}
*/